.git

__pycache__/
pytest_cache/
.pytest_cache/
backend/database.db

/frontend/node_modules
/frontend/README.md
/frontend/coverage
/frontend/build
/frontend/.DS_Store
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.gitignore